# Friends Recommendation Model

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/Data generated.csv")

In [ ]:
data = pd.DataFrame({'userid':df['userid'],'instansi':df['instansi'],'pekerjaan':df['pekerjaan'],'domisili':df['domisili'],'hobi':df['hobi']})

In [ ]:
data.head()

,userid,instansi,pekerjaan,domisili,hobi
0,61377,Universitas Gunadarma,Content writer,Kota Magelang,Programming
1,16429,Universitas Andalas (UNAND),Data analyst,Kabupaten Bangkalan,Menonton
2,27812,Universitas Negeri Malang (UM),Blogger,Kota Bogor,Menonton
3,30786,Universitas Udayana (UNUD),Web developer,Kabupaten Situbondo,Mendengarkan musik
4,76660,SMA A,Data analyst,Kabupaten Tulungagung,Olahraga

In [ ]:
def recommend_friends(user):
    #define the variables
    similar_users = []
    similar_instansi = []
    similar_pekerjaan = []
    similar_domisili = []
    similar_hobi = []
    userPreferences = {}

    #input value to userPreferences according to the user that matched with userid in data
    userPreferences['instansi'] = data[data['userid'] == user]['instansi'].values[0]
    userPreferences['pekerjaan'] = data[data['userid'] == user]['pekerjaan'].values[0]
    userPreferences['domisili'] = data[data['userid'] == user]['domisili'].values[0]
    userPreferences['hobi'] = data[data['userid'] == user]['hobi'].values[0]

    #iterate through data index 0 up to length of data and find similarities between user and others
    for i in range(len(data)):
        if (data['userid'][i] != user) and (
                data['instansi'][i] == userPreferences['instansi'] or
                data['pekerjaan'][i] == userPreferences['pekerjaan'] or
                data['domisili'][i] == userPreferences['domisili'] or
                data['hobi'][i] == userPreferences['hobi']):
            similar_users.append(data['userid'][i])

        if data['userid'][i] != user and data['instansi'][i] == userPreferences['instansi']:
            similar_instansi.append(data['userid'][i])
        if data['userid'][i] != user and data['pekerjaan'][i] == userPreferences['pekerjaan']:
            similar_pekerjaan.append(data['userid'][i])
        if data['userid'][i] != user and data['domisili'][i] == userPreferences['domisili']:
            similar_domisili.append(data['userid'][i])
        if data['userid'][i] != user and data['hobi'][i] == userPreferences['hobi']:
            similar_hobi.append(data['userid'][i])

    #print function output
    print(f"{user} : {userPreferences}")
    print(f"Friends Recommendation for {user} : {similar_users}")
    print(f"Same Agency/Institute with {user} : {similar_instansi}")
    print(f"Same occupation with {user} : {similar_pekerjaan}")
    print(f"Same area with {user} : {similar_domisili}")
    print(f"Same hobby with {user} : {similar_hobi}")

In [ ]:
recommend_friends(61377)

61377 : {'instansi': 'Universitas Gunadarma', 'pekerjaan': 'Content writer', 'domisili': 'Kota Magelang', 'hobi': 'Programming'}
Friends Recommendation for 61377 : [10476, 55312, 66464, 39505, 240, 37574, 8931, 21673, 55384, 58335, 61888, 27369, 31774, 67267, 9957, 90961, 82543, 16101, 32621, 68193, 48435, 30411, 65223, 728, 76225, 97566, 45135, 3136, 34352, 80381, 19516, 35554, 57163, 74874, 45688, 95853, 15389, 91257, 47498, 64416, 57695, 68263, 64917, 55683, 67719, 98854, 85416, 15316, 32933, 58651, 114, 14156, 91340, 6758, 44718, 93143, 23226, 90882, 66304, 4562, 33595, 85456, 93924, 34132, 21002, 93699, 14631, 70433, 34405, 92019, 61745, 51378, 95175, 69712, 48709, 89363, 63762, 78670, 61567, 76323, 19937, 75163, 88364, 70927, 42023, 43361, 47576, 89127, 38110, 98773, 6688, 28955, 15264, 32282, 72507, 17350, 76179, 93754, 65624, 81057, 61736, 67055, 14696, 70204, 32097, 49503, 10727, 51613, 69854, 78172, 23348, 64073, 29391, 80139, 7891, 5542, 76614, 79886, 2094, 75274, 92358, 20950, 8647, 8230, 50505, 46682, 71498, 38050, 30920, 69359, 32313, 59835, 76194, 50456, 2288, 49168, 96792, 7784, 45710, 76658, 98419, 52359, 33374, 45998, 13567]
Same Agency/Institute with 61377 : [55312, 37574, 16101, 728, 76225, 68263, 98854, 32933, 85456, 70433, 34405, 69712, 48709, 78670, 47576, 15264, 72507, 17350, 70204, 32097, 5542, 2094, 75274, 8647, 50505, 46682, 30920, 50456, 7784, 76658, 13567]
Same occupation with 61377 : [66464, 39505, 37574, 8931, 61888, 67267, 90961, 82543, 68193, 48435, 30411, 65223, 19516, 45688, 95853, 15389, 57695, 68263, 55683, 67719, 85416, 58651, 114, 14156, 90882, 4562, 33595, 34132, 34405, 92019, 51378, 69712, 89363, 63762, 19937, 75163, 70927, 42023, 38110, 6688, 28955, 76179, 65624, 61736, 14696, 70204, 49503, 10727, 51613, 78172, 64073, 29391, 80139, 7891, 76614, 20950, 71498, 30920, 69359, 76194, 50456, 96792, 45710, 52359, 33374, 45998]
Same area with 61377 : [27369, 57163, 14631, 95175, 81057]
Same hobby with 61377 : [10476, 240, 21673, 55384, 58335, 31774, 9957, 32621, 65223, 97566, 45135, 3136, 34352, 80381, 35554, 74874, 91257, 47498, 64416, 64917, 15316, 91340, 6758, 44718, 93143, 23226, 66304, 93924, 21002, 93699, 61745, 61567, 76323, 88364, 43361, 89127, 98773, 32282, 93754, 67055, 69854, 23348, 79886, 92358, 8230, 38050, 30920, 32313, 59835, 2288, 49168, 98419, 13567]

In [ ]:
recommend_friends(16429)

16429 : {'instansi': 'Universitas Andalas (UNAND)', 'pekerjaan': 'Data analyst', 'domisili': 'Kabupaten Bangkalan', 'hobi': 'Menonton'}
Friends Recommendation for 16429 : [27812, 76660, 93248, 5492, 53003, 90161, 240, 37574, 28423, 19970, 84635, 20838, 26560, 30012, 15199, 31180, 33127, 20532, 92130, 12523, 28136, 87333, 50615, 86858, 20395, 34532, 25792, 728, 80493, 17852, 44972, 55136, 69090, 89850, 98561, 26134, 85759, 34394, 70313, 95022, 37167, 1054, 26792, 67561, 81263, 40985, 25298, 58504, 49703, 57695, 11952, 83025, 33345, 55220, 33905, 65837, 11790, 66722, 35747, 26635, 93559, 7171, 15110, 79777, 85456, 51003, 6596, 28171, 79144, 70433, 60546, 66822, 28653, 9822, 76963, 38998, 19790, 12416, 47364, 74307, 76323, 83527, 39892, 34001, 92400, 79029, 90730, 17772, 59720, 87619, 27539, 5183, 92700, 35434, 49220, 54446, 79322, 83367, 47576, 40389, 95121, 85158, 79019, 66433, 92005, 26319, 31951, 15820, 1379, 32097, 16133, 12891, 96547, 23348, 57465, 78441, 5196, 37322, 2094, 35791, 19207, 23594, 12998, 62563, 45420, 26361, 7906, 68632, 59196, 68859, 38050, 84383, 91756, 88819, 78951, 69289, 1999, 10809, 41018, 2288, 72211, 77732, 14250, 53041, 98419, 57477, 82670, 95774, 80796]
Same Agency/Institute with 16429 : [5492, 84635, 26560, 33127, 92130, 85759, 95022, 37167, 1054, 40985, 25298, 33905, 11790, 79777, 79144, 66822, 12416, 47364, 39892, 16133, 62563, 80796]
Same occupation with 16429 : [76660, 240, 28423, 20838, 15199, 33127, 28136, 87333, 20395, 25792, 80493, 17852, 44972, 69090, 89850, 98561, 26134, 34394, 70313, 67561, 81263, 58504, 49703, 11952, 83025, 65837, 11790, 35747, 26635, 7171, 51003, 6596, 28171, 70433, 60546, 76963, 38998, 19790, 47364, 76323, 92400, 79029, 17772, 59720, 27539, 5183, 49220, 79322, 83367, 40389, 95121, 66433, 31951, 15820, 23348, 78441, 5196, 37322, 2094, 35791, 19207, 23594, 7906, 59196, 91756, 69289, 1999, 10809, 41018, 2288, 72211, 77732, 98419, 57477, 95774]
Same area with 16429 : [31180, 50615, 57695, 55220, 28653, 83527, 26319, 32097, 35791, 12998, 38050]
Same hobby with 16429 : [27812, 93248, 53003, 90161, 37574, 19970, 30012, 20532, 12523, 86858, 34532, 728, 55136, 34394, 26792, 33345, 66722, 93559, 15110, 85456, 9822, 74307, 39892, 34001, 90730, 87619, 92700, 35434, 54446, 47576, 85158, 79019, 92005, 1379, 12891, 96547, 57465, 19207, 45420, 26361, 68632, 68859, 84383, 88819, 78951, 69289, 1999, 14250, 53041, 82670]

# Model Evaluation

In [ ]:
dom1 = data[data['userid'] == 61377]['domisili'].values[0]
# data['domisili'][data['domisili']== dom1].value_counts()
data['userid'][data['domisili']== dom1]

0      61377
66     27369
245    57163
448    14631
494    95175
697    81057
Name: userid, dtype: int64

In [ ]:
dom2 = data[data['userid'] == 16429]['domisili'].values[0]
# data['domisili'][data['domisili']== dom2].value_counts()
data['userid'][data['domisili']== dom2]

1      16429
76     31180
103    50615
309    57695
337    55220
483    28653
540    83527
667    26319
720    32097
790    35791
812    12998
874    38050
Name: userid, dtype: int64

In [ ]:
data['domisili'].value_counts()

Kabupaten Sragen         19
Kabupaten Lumajang       17
Kota Batu                15
Kota Surabaya            15
Kota Bandung             14
                         ..
Kabupaten Garut           4
Kabupaten Gresik          3
Kota Yogyakarta           3
Kabupaten Probolinggo     3
Kota Jakarta              1
Name: domisili, Length: 114, dtype: int64

In [ ]:
data['userid'][data['domisili']=='Kota Jakarta']

935    49413
Name: userid, dtype: int64

In [ ]:
recommend_friends(49413)

49413 : {'instansi': 'PT Bank Mandiri Tbk', 'pekerjaan': 'Siswa', 'domisili': 'Kota Jakarta', 'hobi': 'Menari'}
Friends Recommendation for 49413 : [85501, 39535, 25277, 58033, 98631, 31730, 86274, 30012, 38795, 65479, 23504, 30248, 48435, 30291, 24098, 38317, 97715, 13329, 24532, 92986, 78361, 90906, 18284, 67256, 78318, 36292, 51000, 82544, 60724, 41919, 15389, 76268, 39731, 55220, 7072, 89491, 60259, 76625, 91340, 6758, 93143, 37977, 4191, 63084, 84508, 75534, 67954, 52179, 65090, 30456, 92019, 57, 21764, 44374, 52732, 90178, 55088, 41835, 19758, 92400, 70927, 91589, 19316, 47848, 21036, 90730, 42715, 43408, 98773, 79967, 56868, 204, 26319, 24557, 59019, 38229, 83007, 77558, 26793, 73765, 96547, 69854, 78441, 84534, 53880, 85431, 93952, 19698, 41487, 75274, 43928, 8647, 82607, 94433, 7771, 9768, 34887, 83228, 19553, 79993, 34404, 72549, 84383, 27579, 49168, 23892, 53041, 42918, 18453, 67929, 80796, 5428, 29737]
Same Agency/Institute with 49413 : [98631, 65479, 23504, 48435, 38317, 78361, 82544, 55220, 57, 21036, 42715, 204, 83007, 96547, 78441, 85431, 19553, 53041]
Same occupation with 49413 : [39535, 25277, 58033, 31730, 30012, 38795, 23504, 30248, 30291, 24098, 92986, 90906, 78318, 51000, 41919, 76268, 39731, 7072, 60259, 91340, 6758, 93143, 37977, 4191, 75534, 52179, 30456, 21764, 52732, 90178, 55088, 41835, 19758, 91589, 19316, 21036, 90730, 98773, 56868, 26319, 24557, 77558, 26793, 73765, 69854, 84534, 93952, 41487, 75274, 8647, 82607, 94433, 7771, 9768, 72549, 84383, 49168, 23892, 42918]
Same area with 49413 : []
Same hobby with 49413 : [85501, 25277, 86274, 97715, 13329, 24532, 18284, 67256, 36292, 60724, 15389, 89491, 76625, 63084, 84508, 67954, 65090, 30456, 92019, 44374, 92400, 70927, 47848, 43408, 79967, 204, 59019, 38229, 53880, 19698, 41487, 43928, 34887, 83228, 79993, 34404, 27579, 18453, 67929, 80796, 5428, 29737]

# Saving Model